.locationCont{
    width: 400px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.locationCont h1{
    margin: 0;
}

.weatherLocationCont{
    width: 100%;
    box-shadow: -1px 15px 5px -3px #6b676b;
    height: 30vh;
    text-align:left;
    padding-left: 10px;
    color: #888;
    font-family: 'Roboto', sans-serif;
}

